# Build outputs
bin/
obj/
*.log
*.cache
*.dbmdl

# Rider IDE files
.idea/
*.sln.iml

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET related
project.lock.json
project.fragment.lock.json
artifacts/

# Rider project model
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.nuget.props
*.nuget.targets
*.nuget.dgspec.json
*.nuget*

# VS Code or JetBrains config
.vscode/
*.code-workspace

# Others
*.vs/
TestResults/
